export("fars_map_state")
export ("fars_summarize_years")
export ("fars_read")
export ("fars_read_years")
import(splines)
import(RColorBrewer)
importFrom("dplyr", "filter", "group_by", "summarize", "mutate", "select", "tbl_df")
importFrom("readr", "read_csv")
importFrom("tidyr", "spread")
importFrom("maps", "map")
importFrom("graphics", "points")
